.text_activites h2{
    font-size: 21px;
    max-width: 600px;
    text-align: center;
    margin : 10px auto 10px auto;
    font-weight: bold;
}

main #bloc-3-what-i-do .text--intention{
    font-size: 21px;
    font-weight: bold;
    color: #303030;

}


.text_quote blockquote{
    font-size: 21px;
    max-width: 600px;
    text-align: center;
    margin : 10px auto 10px auto;
    font-weight: bold;
    font-style: italic;

}

.text_quote p{
    
    text-align: center;
    margin : auto;


}

.grey{
    color: #303030 !important;

}

header{
    width: 60%;
    min-height: 75px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

    header .header__logo {
        width: 25%;
        margin: auto;

    }


    header nav{
        width: 75%;
        margin: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        line-height: 100%;

    }

    header nav ul{
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
    }

    header nav ul li{
        min-width: 70px;
        margin: auto;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    header nav ul li a{
        color: #303030;
    }

    @media only screen and (max-width: 1100px){
        header{
            flex-flow: column nowrap;
        }
        header .header__logo {
            width: 100%;
            margin: 20px;
        }
        header nav{
            width: 100%;
        }
        header nav ul{
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
        header nav li{
            width: 50%;
        }
    }
    