.text_activites h2{
    font-size: 21px;
    width: 600px;
    text-align: center;
    margin : 10px auto 10px auto;
    font-weight: bold;
}

main #bloc-3-what-i-do .text--intention{
    font-size: 21px;
    font-weight: bold;
    color: #303030;

}


.text_quote blockquote{
    font-size: 21px;
    width: 600px;
    text-align: center;
    margin : 10px auto 10px auto;
    font-weight: bold;
    font-style: italic;

}

.text_quote p{
    
    text-align: center;
    margin : auto;


}

.grey{
    color: #303030 !important;

}